<!DOCTYPE html>
<html>
<head>
    <title>Final Exam Homepage</title>
</head>
<body>
    <div>
        <p>Homepage</p>
        <br>
        <a href="/image">PixaBay</a>
        <a href="/weather">Weather</a>
    </div>
</body>

</html>