<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
</head>
<body>
    <div>
    	<p>Weather Page</p>
    	<br>
        <a href="/image">PixaBay</a>
        <a href="/home">Homepage</a>
    </div>
</body>

</html>